
body {
  font-family: 'Arial', sans-serif;
  background-image: url('../public/360_F_207154340_wLIJus4m3SBl5sAQmpqN3Um7REnUhskU.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.app-container {
  text-align: center;
}

.welcome-container {
  margin-bottom: 2rem;
}

.welcome-text {
  font-size: 2rem;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 1rem;
}

.input-box {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ff0000;
  border-radius: 0.375rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #000;
  transition: border-color 0.2s;
}

.input-box:focus {
  outline: none;
  border-color: #ff4500;
}

.add-button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  color: #fff;
  background-color: #ff0000;
}

.add-button:hover {
  background-color: #ff4500; 
}

.add-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.all-books-container {
  margin-bottom: 2rem;
}

.all-books-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000; 
  margin-bottom: 1rem;
}

.book-item {
  margin-bottom: 1rem;
}

.book-title {
  margin-bottom: 0.5rem;
}

.delete-button {
  padding: 0.5rem 0.75rem; 
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  color: #fff;
  background-color: #c17d7d; 
}

.delete-button:hover {
  background-color: #0f0805; 
}

